<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.name, user_path(current_user) %>
  </div>
</div>

<div class="rooms">
  <% @users.each do |user| %>
    <div class="room">
      <div class="room-name">
        <%= link_to user.name, personal_chats_path(personal) %>
      </div>
    </div>
  <% end %>
</div>